version: '3.8'

services:
  db:
    image: postgres:15-alpine
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - my_network

  bot:
    build: .
    container_name: my_bot
    command: python main.py
    env_file: .env
    volumes:
      - .:/app
    depends_on:
      db:
        condition: service_healthy
    networks:
      - my_network

volumes:
  postgres_data:

networks:
  my_network:
    driver: bridge
